.diray-container-box{
    border-color: #cfe8fc;
    border-style: solid;
    height: 90vh;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
}
.diary-write-title{
    margin-right: 10px;
    width: 60vh;
}
.diary-write-date{

}

