

.galeryGridContainer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gridTemplateColumns: 'repeat(3, 1fr)';

}
.item {
    align-self: stretch;
    max-width: 1vh;
    max-height: 1vh;
    /* align-self: start; */
    /* align-self: center; */
    /* align-self: end; */
}

.item img{
    width: 30vh;
}